# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Build artifacts
target/
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Kompose helper file
k8s/fix-image-pull-policy.ps1

# Kubernetes secrets
k8s/secrets.yaml
